/* global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* fonts */
@font-face {
  font-family: kanit;
  src: url(/fonts/Kanit-Regular.ttf);
}

/* body gradient */
body {
  background-image: linear-gradient(to bottom, #e3e8ff, #f3f3f3);
}

/* nav */

nav {
  position: absolute;
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  box-shadow: 0rem 0.1rem 0.3rem 0.02rem #aaa;
}

#nav-links {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  list-style: none;
}

#nav-links > a {
  font-family: kanit;
  color: #424d9b;
  text-decoration: none;
}

#nav-links > a:hover {
  color: #646fbd;
  text-decoration: underline;
}

#main-header-container {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  gap: 0.5rem;
}

#main-header-icon {
  height: 2rem;
  width: 2rem;
}

#main-heading {
  color: #424d9b;
  position: relative;
  font-size: 1rem;
  margin: 0;
  font-family: kanit;
  font-size: 1.5rem;
}

/* board */

.board-container {
  display: grid;
  height: 100vh;
  place-items: center;
  box-sizing: border-box;
}

.board {
  height: auto;
  width: auto;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.space {
  cursor: pointer;
  border-radius: 0.5rem;
  height: 10rem;
  width: 10rem;
  background-color: white;
  box-shadow: -4px 2px 3.13px 0 #00000012;
}

.space:hover {
  border: 1px solid #424d9b;
}

.cross_square,
.naught_square {
  position: relative;
}

.cross_square:before,
.naught_square:before {
  font-size: 2rem;
  height: 100%;
  width: 100%;
  position: absolute;
  display: grid;
  place-items: center;
}
.cross_square:before {
  content: "𐌢";
  color: #424d9b;
}
.naught_square:before {
  content: "◯";
  color: hotpink;
}

/* feedback */

#display-container {
  position: fixed;
  width: 100%;
  bottom: 15%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 0.5rem;
}

.display {
  display: none;
  font-family: "kanit";
  border-radius: 0.5rem;
  place-items: center;
  height: 2rem;
  width: 30rem;
  text-transform: uppercase;
  color: white;
}

#error-display {
  background-color: #a94064;
}

#result-display {
  background-color: #424d9b;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  place-items: center;
  height: 50px;
}

footer > span {
  font-family: "kanit";
  color: #424d9b33;
}

/* queries */
@media only screen and (max-width: 640px), screen and (max-height: 800px) {
  .space {
    height: 5rem;
    width: 5rem;
  }
  .display {
    font-size: 0.75rem;
    width: 16rem;
  }
}
@media only screen and (max-height: 900px) {
  #display-container {
    bottom: 10%;
  }
}
@media only screen and (max-width: 382px) {
  footer {
    display: none;
  }
}
